absl-py
accelerate
addict
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
attrs
audioread
av
babel
basicsr
beautifulsoup4
bitsandbytes
boto3
botocore
brotli
cached_path
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
controlnet_aux
cryptography
csvw
ctranslate2
cycler
datasets
decorator
demucs
diffusers
dill
dlinfo
docutils
dora_search
einops
einx
ema-pytorch
encodec
espeakng-loader
f5-tts
facexlib
fastapi
faster-whisper
ffmpy
filelock
filterpy
flatbuffers
fonttools
frozendict
frozenlist
fsspec
future
gdown
gfpgan
gitdb
GitPython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gradio
gradio_client
groovy
grpcio
h11
hf-gradio
hf-xet
hf_transfer
httpcore
httpx
huggingface_hub
hydra-core
id
idna
ImageIO
imageio-ffmpeg
importlib_metadata
iniconfig
isodate
jaraco.classes
jaraco.context
jaraco.functools
jax
jaxlib
jeepney
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
julius
keyring
kiwisolver
kokoro-onnx

lameenc
language-tags
lazy-loader
librosa
llvmlite
lmdb
loguru
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe

ml_dtypes
more-itertools
deepface
moviepy==1.0.3
mpmath
msgpack
multidict
multiprocess
networkx
nh3
numba
numpy

omegaconf
onnxruntime
opencv-contrib-python
opencv-python
opencv-python-headless
openunmix
opt_einsum
orjson
packaging
pandas
peft
phonemizer-fork
pillow
platformdirs
pluggy
pooch
proglog
progress
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
pypinyin
PySocks
pysubs2
pytest
pytest-mock
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
rdflib
readme_renderer
realesrgan
referencing
regex
requests
requests-toolbelt
retrying
rfc3986
rich
rjieba
rpds-py
s3transfer
sacremoses
safehttpx
safetensors
scikit-image
scikit-learn
scipy
SecretStorage
segments
semantic-version
sentencepiece
sentry-sdk
setuptools
shellingham
six
smmap
sounddevice
soundfile
soupsieve
soxr
starlette
static_ffmpeg
submitit
sympy
tb-nightly
tensorflow
tf-keras
tensorboard-data-server
termcolor
threadpoolctl
tifffile
timm
tokenizers
tomli
tomlkit
torch
torch-einops-utils
torchaudio
torchdiffeq
torchvision
tqdm
transformers
transformers-stream-generator
treetable
twine
typer
typing-inspection
typing_extensions
Unidecode
uritemplate
urllib3
uvicorn
vocos
wandb
Werkzeug
x-transformers
xxhash
yapf
yarl
zipp
